[submodule "nanoFramework.Runtime.Events"]
	path = nanoFramework.Runtime.Events
	url = https://github.com/nanoframework/lib-nanoFramework.Runtime.Events
[submodule "nanoFramework.Runtime.Native"]
	path = nanoFramework.Runtime.Native
	url = https://github.com/nanoframework/lib-nanoFramework.Runtime.Native
[submodule "Windows.Devices.Gpio"]
	path = Windows.Devices.Gpio
	url = https://github.com/nanoframework/lib-Windows.Devices.Gpio
[submodule "Windows.Devices.I2c"]
	path = Windows.Devices.I2c
	url = https://github.com/nanoframework/lib-Windows.Devices.I2c
[submodule "Windows.Devices.Pwm"]
	path = Windows.Devices.Pwm
	url = https://github.com/nanoframework/lib-Windows.Devices.Pwm
[submodule "Windows.Devices.SerialCommunication"]
	path = Windows.Devices.SerialCommunication
	url = https://github.com/nanoframework/lib-Windows.Devices.SerialCommunication
[submodule "Windows.Devices.Spi"]
	path = Windows.Devices.Spi
	url = https://github.com/nanoframework/lib-Windows.Devices.Spi
[submodule "Windows.Storage.Streams"]
	path = Windows.Storage.Streams
	url = https://github.com/nanoframework/lib-Windows.Storage.Streams
[submodule "CoreLibrary"]
	path = CoreLibrary
	url = https://github.com/nanoframework/lib-CoreLibrary
