trigger:
  branches:
    include:
    - pages-source
  paths:
    exclude:
    - /*.md
    - .gitignore

pr:
  branches:
    include:
    - pages-source
  autoCancel: true

resources:
  repositories:
    - repository: templates
      type: github
      name: nanoframework/nf-tools
      endpoint: nanoframework

pool:
  vmImage: 'VS2017-Win2016'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:

# need this here in order to persist GitHub credentials
- checkout: self
  persistCredentials: true

# setup GitHub credentials and prefs
- script: |
    git config --global user.email "nfbot"
    git config --global user.name "nanoframework@outlook.com"

    git config --global core.autocrlf true
  displayName: Setup git identity

# clone class libs repos
# fetch only the last 100 commits to be (reasonaly) sure that we have the history up to the last tag
- powershell: |
      git clone https://github.com/nanoframework/lib-CoreLibrary.git --depth 100 -b develop CoreLibrary 

      git clone https://github.com/nanoframework/lib-nanoFramework.Devices.Can.git --depth 100 -b develop nanoFramework.Devices.Can 

      git clone https://github.com/nanoframework/lib-nanoFramework.Devices.OneWire.git --depth 100 -b develop nanoFramework.Devices.OneWire 

      git clone https://github.com/nanoframework/lib-nanoFramework.Runtime.Events.git --depth 100 -b develop nanoFramework.Runtime.Events 

      git clone https://github.com/nanoframework/lib-nanoFramework.Runtime.Native.git --depth 100 -b develop nanoFramework.Runtime.Native 

      git clone https://github.com/nanoframework/lib-System.Device.Dac.git --depth 100 -b develop System.Device.Dac

      git clone https://github.com/nanoframework/lib-Windows.Devices.Gpio.git --depth 100 -b develop Windows.Devices.Gpio 

      git clone https://github.com/nanoframework/lib-Windows.Devices.I2c.git --depth 100 -b develop Windows.Devices.I2c 

      git clone https://github.com/nanoframework/lib-Windows.Devices.Pwm.git --depth 100 -b develop Windows.Devices.Pwm 

      git clone https://github.com/nanoframework/lib-Windows.Devices.SerialCommunication.git --depth 100 -b develop Windows.Devices.SerialCommunication 

      git clone https://github.com/nanoframework/lib-Windows.Devices.Spi.git --depth 100 -b develop Windows.Devices.Spi 

      git clone https://github.com/nanoframework/lib-Windows.Storage.git --depth 100 -b develop Windows.Storage 

      git clone https://github.com/nanoframework/lib-Windows.Storage.Streams.git --depth 100 -b develop Windows.Storage.Streams 

      git clone https://github.com/nanoframework/lib-Windows.Devices.Adc.git --depth 100 -b develop Windows.Devices.Adc 

      git clone https://github.com/nanoframework/lib-Windows.Devices.WiFi.git --depth 100 -b develop Windows.Devices.WiFi 

      git clone https://github.com/nanoframework/lib-nanoFramework.Hardware.Esp32 -b develop nanoFramework.Hardware.Esp32

      git clone https://github.com/nanoframework/lib-nanoFramework.Hardware.Esp32.Rmt -b develop nanoFramework.Hardware.Esp32.Rmt

      git clone https://github.com/nanoframework/lib-nanoFramework.Json -b develop nanoFramework.Json

      git clone https://github.com/nanoframework/lib-nanoFramework.Hardware.Stm32 -b develop nanoFramework.Hardware.Stm32

      git clone https://github.com/nanoframework/lib-nanoFramework.ResourceManager -b develop nanoFramework.ResourceManager

      git clone https://github.com/nanoframework/lib-nanoFramework.Networking.Sntp -b develop nanoFramework.Networking.Sntp 

      git clone https://github.com/nanoframework/lib-nanoFramework.System.Collections -b develop nanoFramework.System.Collections 

      git clone https://github.com/nanoframework/lib-nanoFramework.System.Text -b develop nanoFramework.System.Text 

      git clone https://github.com/nanoframework/lib-nanoFramework.System.Net -b develop nanoFramework.System.Net 

      git clone https://github.com/nanoframework/lib-nanoFramework.System.Net.Http -b develop nanoFramework.System.Net.Http 

      git clone https://github.com/nanoframework/lib-nanoFramework.TI.EasyLink -b develop nanoFramework.TI.EasyLink

      git clone https://github.com/nanoframework/lib-nanoFramework.Hardware.TI -b develop nanoFramework.Hardware.TI

      git clone https://github.com/nanoframework/lib-nanoFramework.System.Math -b develop nanoFramework.System.Math 
 
  displayName: Clone repos of class libs

# install docfx
- powershell: choco install docfx -y
  displayName: Install docfx

- task: NuGetToolInstaller@0

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'CoreLibrary\nanoFramework.CoreLibrary.sln'
    feedsToUse: config
    nugetConfigPath: 'CoreLibrary\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Devices.Can\nanoFramework.Devices.Can.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Devices.Can\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Devices.OneWire\nanoFramework.Devices.OneWire.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Devices.OneWire\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Runtime.Events\nanoFramework.Runtime.Events.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Runtime.Events\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Runtime.Native\nanoFramework.Runtime.Native.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Runtime.Native\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'System.Device.Dac\nanoFramework.System.Device.Dac.sln'
    feedsToUse: config
    nugetConfigPath: 'System.Device.Dac\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Windows.Devices.Gpio\nanoFramework.Windows.Devices.Gpio.sln'
    feedsToUse: config
    nugetConfigPath: 'Windows.Devices.Gpio\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Windows.Devices.I2c\nanoFramework.Windows.Devices.I2c.sln'
    feedsToUse: config
    nugetConfigPath: 'Windows.Devices.I2c\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Windows.Devices.Pwm\nanoFramework.Windows.Devices.Pwm.sln'
    feedsToUse: config
    nugetConfigPath: 'Windows.Devices.Pwm\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Windows.Devices.SerialCommunication\nanoFramework.Windows.Devices.SerialCommunication.sln'
    feedsToUse: config
    nugetConfigPath: 'Windows.Devices.SerialCommunication\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Windows.Devices.Spi\nanoFramework.Windows.Devices.Spi.sln'
    feedsToUse: config
    nugetConfigPath: 'Windows.Devices.Spi\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Windows.Storage\nanoFramework.Windows.Storage.sln'
    feedsToUse: config
    nugetConfigPath: 'Windows.Storage\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Windows.Storage.Streams\nanoFramework.Windows.Storage.Streams.sln'
    feedsToUse: config
    nugetConfigPath: 'Windows.Storage.Streams\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Windows.Devices.Adc\nanoFramework.Windows.Devices.Adc.sln'
    feedsToUse: config
    nugetConfigPath: 'Windows.Devices.Adc\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'Windows.Devices.WiFi\nanoFramework.Windows.Devices.WiFi.sln'
    feedsToUse: config
    nugetConfigPath: 'Windows.Devices.WiFi\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Hardware.Esp32\nanoFramework.Hardware.Esp32.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Hardware.Esp32\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Hardware.Esp32.Rmt\nanoFramework.Hardware.Esp32.Rmt.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Hardware.Esp32.Rmt\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Json\nanoFramework.Json.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Json\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Hardware.Stm32\nanoFramework.Hardware.Stm32.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Hardware.Stm32\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.ResourceManager\nanoFramework.ResourceManager.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.ResourceManager\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Networking.Sntp\nanoFramework.Networking.Sntp.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Networking.Sntp\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.System.Collections\nanoFramework.System.Collections.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.System.Collections\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.System.Text\nanoFramework.System.Text.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.System.Text\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.System.Net\nanoFramework.System.Net.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.System.Net\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.System.Net.Http\nanoFramework.System.Net.Http.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.System.Net.Http\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.TI.EasyLink\nanoFramework.TI.EasyLink.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.TI.EasyLink\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.Hardware.TI\nanoFramework.Hardware.TI.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.Hardware.TI\NuGet.Config'
    verbosityRestore: quiet

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'nanoFramework.System.Math\nanoFramework.System.Math.sln'
    feedsToUse: config
    nugetConfigPath: 'nanoFramework.System.Math\NuGet.Config'
    verbosityRestore: quiet
  
- task: InstallnFBuildComponents@1
  displayName: Install nanoFramework MSBuild components

- task: VSBuild@1
  inputs:
    solution: 'CoreLibrary\nanoFramework.CoreLibrary.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Devices.Can\nanoFramework.Devices.Can.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Devices.OneWire\nanoFramework.Devices.OneWire.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Runtime.Events\nanoFramework.Runtime.Events.sln '
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Runtime.Native\nanoFramework.Runtime.Native.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'System.Device.Dac\nanoFramework.System.Device.Dac.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()


- task: VSBuild@1
  inputs:
    solution: 'Windows.Devices.Gpio\nanoFramework.Windows.Devices.Gpio.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'Windows.Devices.I2c\nanoFramework.Windows.Devices.I2c.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'Windows.Devices.Pwm\nanoFramework.Windows.Devices.Pwm.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'Windows.Devices.SerialCommunication\nanoFramework.Windows.Devices.SerialCommunication.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'Windows.Devices.Spi\nanoFramework.Windows.Devices.Spi.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'Windows.Storage\nanoFramework.Windows.Storage.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'Windows.Storage.Streams\nanoFramework.Windows.Storage.Streams.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'Windows.Devices.Adc\nanoFramework.Windows.Devices.Adc.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'Windows.Devices.WiFi\nanoFramework.Windows.Devices.WiFi.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Hardware.Esp32\nanoFramework.Hardware.Esp32.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Hardware.Esp32.Rmt\nanoFramework.Hardware.Esp32.Rmt.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Json\nanoFramework.Json.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Hardware.Stm32\nanoFramework.Hardware.Stm32.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Networking.Sntp\nanoFramework.Networking.Sntp.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.System.Collections\nanoFramework.System.Collections.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.System.Text\nanoFramework.System.Text.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.System.Net\nanoFramework.System.Net.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.System.Net.Http\nanoFramework.System.Net.Http.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

- task: VSBuild@1
  inputs:
    solution: 'nanoFramework.Hardware.TI\nanoFramework.Hardware.TI.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
  condition: succeeded()

# rename project files (need this to trick docfx)
- powershell: Get-ChildItem -Filter "*.nfproj" -Recurse | Rename-Item -NewName { $_.name -replace 'nfproj','csproj' }
  displayName: Rename nfproj files
  condition: succeeded()

# run docfx
- powershell: |
      &docfx metadata docfx.json
      
      if ($lastexitcode -ne 0)
      {
        throw [System.Exception] "docfx build failed with exit code $lastexitcode."
      }

      &docfx build docfx.json
      
      if ($lastexitcode -ne 0)
      {
        throw [System.Exception] "docfx build failed with exit code $lastexitcode."
      }
  condition: succeeded()
  displayName: Run docfx

# commit changes
- powershell: |
        git clone https://github.com/nanoframework/nanoframework.github.io.git -b master origin_site -q
        Copy-Item _site/* origin_site -recurse -Force
        
        cd origin_site > $null

        $auth = "basic $([System.Convert]::ToBase64String([System.Text.Encoding]::UTF8.GetBytes("nfbot:$(GitHubToken)"))))"

        git add . -A > $null
        git commit -m "Update documentation from PR" -q > $null
        git -c http.extraheader="AUTHORIZATION: $auth" push origin master -q > $null
  failOnStderr: false
  ignoreLASTEXITCODE: true
  condition: and( succeeded(), ne(variables['Build.Reason'], 'PullRequest') )
  displayName: Commit changes

# step from template @ nf-tools repo
# report error
- template: azure-pipelines-templates/discord-webhook-task.yml@templates  
  parameters:
    status: 'failure'
    webhookUrl: '$(DiscordWebhook)'
    message: ''
